.navigate {
    height: 35px;
    display: flex;
    align-items: center;
    background-color: #0c1114a0;
    margin-block-end: 1em;
    
    button {
        border: none;
        text-align: center;
        padding: 5px 10px;
        border-radius: 7px;
        cursor: pointer;
        background-color: inherit;
        color: white;
    }

    button:hover {
        // background-color: #863c4d;
        // color: #464159;
    }
}
