<!-- <p>contact-edit works!</p> -->

<section *ngIf="contact" class="contact-edit">
    <!-- <button class="button" (click)="onBack()">Back</button> -->
    <h2>{{contact._id ? 'Edit':'Add'}} Contact</h2>
    <form (ngSubmit)="onSaveContact()" class="contact-form">
        <div class="form-name">
            <input [(ngModel)]="contact.name" placeholder="Name" type="text" name="name" id="name">
        </div>
        <div class="form-email">
            <input [(ngModel)]="contact.email" placeholder="Email" type="text" name="email" id="email">
        </div>
        <div class="form-phone">
            <input [ngModel]="contact.phone" placeholder="Phone" type="text" name="phone" id="phone">
        </div>
        <button class="button">Save</button>
    </form>
</section>