.user-msg {
    width: 200px;
    // height: 200px;
    background-color: #f4f4f4ab;
    border: rgba(126, 232, 163, 0.72) solid 5px;
    border-radius: 5px;
    position: fixed;
    top: 50px;
    right: 10px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 0 49px #000000c9;

    text-align: center;
}


  